.font-text {
  letter-spacing: -0.05em;
  font-family: $tittleH1;
  color: white;
}

.color-text {
  color: $colorViolet;
  font-size: 2rem;
}
.color-primary {
  color: $colorCelest;
}
.color-secondary {
  color: $colorViolet;
}
.color-third {
  color: $colorYellow;
}
